body {
	background: url("background.jpg") repeat;
}

#Header {
	background: #333333;
	margin: -25px 0 20px;
	color: #f5edc9;
	padding: 15px 20px;
} 

#Content,

.nav-tabs > li > a {
	font-size: 1.0em;
}


